/* start of gridding */
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    border: 1px solid black;
}
    
.header {
    grid-column: span 8 / span 8;
    display: grid;
    place-items: center;
    border: 1px solid red;
}

.sidebar {
    grid-row: span 5 / span 5;
    grid-row-start: 2;
}

.bioContainer {
    grid-column: span 7 / span 7;
    grid-row: span 5 / span 5;
    grid-row-start: 2;
}
/* end of gridding */

img{
    align-items: center;
    height: 60px;
}

/* start of tugas */
.ket, .isi{
    display: inline-block;
    outline: 1px solid black;
    padding: 2px;
}
/* end of tugas */

div.ket{
    width: 150px;
    background-color: lightgreen;
    text-align: left;
}

div.isi{
    width: calc(100% - 950px);
    background-color: lightgoldenrodyellow;
    text-align: left;
}

