.bioContainer{
    margin: auto;
}

.ket, .isi{
    display: inline-block;
    outline: 1px solid black;
    padding: 2px;
}

div.ket{
    width: 150px;
    background-color: lightgreen;
    /* padding: 10px; */
    text-align: left;
}

div.isi{
    width: calc(100% - 950px);
    background-color: lightgoldenrodyellow;
    /* padding: 10px; */
    text-align: left;
}

